body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.container a {
    text-decoration: none;
    color: #990a0a;
    font-size: 25px;
    line-height: 55px;
}
.container a:hover{
    color: #4a4591;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
