body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 120px;
}

#s {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
}

label {
    margin-left: 10px;
}

input[type="text"] {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px;
    padding: 5px;
}

button {
    background-color: rgba(136, 127, 127, 0.993);
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 90px;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
    margin-top: -10px;
}

button:hover {
    transform: scale(1.1);
}

#domicilio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#domicilio label {
    margin-left: 10px;
}

#domicilio input[type="text"] {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px; /* Ajusta el ancho según sea necesario */
    padding: 5px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
