body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-left: 10px;
}

input[type="text"] {
    margin-left: 10px;
    width: 150px;
}

button {
    background-color: rgba(255, 255, 255, 0.993);
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 90px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.container {
    background-color: #2e2b3d;
    border: 1px solid #7b59b3;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 50%;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}